//
//  Configuration.xcconfig
//  Movies-SwiftUI-Combine
//
//  Created by Noor El-Din Walid on 25/11/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = api.themoviedb.org/3
IMAGES_BASE_URL = image.tmdb.org/t/p/w500
